inoremap jk <Esc>
let mapleader = " "

set scrolloff=10

" SEARCH IMPROVEMENTS
set ignorecase
set smartcase
set incsearch
set hlsearch
set highlightedyank
set easymotion
set notimeout

set surround
set NERDTree

" Open NERDTree (use q to exit)
map <leader>x :NERDTreeToggle<CR>

" File navigation
map <leader>ff <action>(GotoFile)
map <leader>fr <action>(RecentFiles)
map <leader>fc <action>(FindInPath)
map <leader><leader> <Action>(RecentFiles)
map <leader>fl <action>(RecentLocations)
map <leader>fs <action>(NewScratchFile)

" Close active tab
map <leader>q <action>(CloseContent)

" Go to code
nmap <leader>gd <Action>(GotoDeclaration)
nmap <leader>gy <Action>(GotoTypeDeclaration)
nmap <leader>gi <Action>(GotoImplementation)
nmap <leader>gu <Action>(ShowUsages)
nmap <leader>gt <Action>(GotoTest)
nmap <leader>gf <Action>(Back)
nmap <leader>gb <Action>(Forward)

map <leader>j <Plug>(easymotion-s)
